.row
	.col-6.col-sm-3.col-lg-2 
		adfa
	.col-6.col-sm-3.col-lg-2 
		asdfasdf
	.col-6.col-sm-6.col-lg-4 
		adsfadf
	.col-6.col-sm-6.col-lg-4 
		asdfasdf 
	.col-6.col-sm-6.col-lg-12 
		adsfadf
.row
	.col-lg-6 6
	.col-lg-6 6

/ Standard gray button with gradient 
%button.btn.btn-default{type:"button"} Default


/ Provides extra visual weight and identifies the primary action in a set of buttons
%button.btn.btn-primary{type:"button"} Primary


/ Indicates a successful or positive action 
%button.btn.btn-success{type:"button"} Success


/ Contextual button for informational alert messages
%button.btn.btn-info{type:"button"} Info


/ Indicates caution should be taken with this action 
%button.btn.btn-warning{type:"button"} Warning


/ Indicates a dangerous or potentially negative action
%button.btn.btn-danger{type:"button"} Danger


/ Deemphasize a button by making it look like a link while maintaining button behavior 
%button.btn.btn-link{type:"button"} Link


/ Deemphasize a button by making it look like a link while maintaining button behavior 
%button.btn.btn-dark{type:"button"} Link

%button.btn.btn-dark{type:"button", disabled:"disabled"} DisabledLink
