%section.product_zone
	.picture_zone
		= image_tag "/assets/default_product.png", alt: "TopVision:Product"
	.product_info
		.title_zone
			%h3
				Pantalla LCD
		.description
			%p
				Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar