// change colors
// $link-color: red;
$navbar-bg: #111;
$border-radius-base: 0px;

// nav-bar > li > a
$navbar-link-color: white;
$navbar-link-active-color: grey;


@import "bootstrap";
@import "bootstrap_extension";
@import "home";
@import "footer";

body{
	background: url("background.png");
}
.separator{
	border-top: 2px dashed #aaa;
	width: 100%;
	margin-top:30px;
	clear: both;
}
.clear{
	clear:both;
}
.content{
	max-width: 960px;
	padding: 0 10px 0 10px;
	margin: auto;
}
footer{
	margin-top: 15px;
	padding-top: 15px;
	min-height: 100px;
	background-color: $navbar-bg;
}
li.nav-link{
	&.active{
		a{
			font-weight: bold;
		}
	}
}

.brand-title{
	font-size: 40px;
}

.product_zone{
	/*
.alpha60 {
// Fallback for web browsers that doesn't support RGBa 
background: rgb(0, 0, 0) transparent;
// RGBa with 0.6 opacity 
background: rgba(0, 0, 0, 0.6);
// For IE 5.5 - 7 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
// For IE 8 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
*/
	background: rgba(16,16,90,0.5);
	color: white;
	border-radius: 5px;
	.picture_zone{
		padding: 10px 20px 0 20px;
		img{
			width: 180px;
			border: #f0f0f0 solid 1px
		}
		z-index: 2;
	}
	.product_info{
		z-index: 2;
		margin: 1px 5px 0 5px;
		padding: 5px;
		.title_zone{
			text-align: center;
			h2, h3{ margin-top: 5px;}
		}
		.description{
			p{
				text-align: justify;
			}
		}
	}
}



.vertical-separator{
  min-height: 100px;
  @media (min-width: $screen-small) {
    border-right: 0px dashed #aaa;
    border-left: 0px dashed #aaa;
  }
  @media (min-width: $screen-medium) {
    border-right: 2px dashed #aaa;
    border-left: 2px dashed #aaa;
  }
  @media (min-width: $screen-large) {
    border-right: 2px dashed #aaa;
    border-left: 2px dashed #aaa;
  }
}

.text-manager-submit{
	padding-top: 10px;
}
/*
  These three lines are for transparency in all browsers. 
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=50);
       opacity:.5;

*/