.rigth-with-margin{
	float: right;
	margin-right: 10%;
}
.left-with-margin{
	float: left;
	margin-left: 10%;
}

#home-carousel{
	max-width: 720px;
	margin: auto;
}

.about_us{
	.image{
		margin-left: 80px;
		img{
			max-width: 500px;	
		}
		
	}
}
.little_image{
	max-width: 200px;
	img{
		max-width: 200px;
	}
}
.about_us_text{
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	p{
		text-align: justify;
	}
}
.about_us_little_title{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.center{
	text-align: center;
}

